@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url('../assets/fonts/Gotham/gotham-bold.ttf');
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham/gotham-medium.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-weight: bold;
  src: url('../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'Stag-Book';
  src: url('../assets/fonts/Stag/Stag-Book.ttf');
}

@font-face {
  font-family: 'Stag-Medium';
  src: url('../assets/fonts/Stag/Stag-Medium.ttf');
}