@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/gotham-bold.ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/fonts/Gotham/gotham-medium.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Stag-Book';
  src: url('/fonts/Stag/Stag-Book.ttf');
}

@font-face {
  font-family: 'Stag-Medium';
  src: url('/fonts/Stag/Stag-Medium.ttf');
}