header {
	a {
		color: $color__gray-medium;
		padding: 0 15px;
		text-transform: uppercase;
		&:last-child {
			padding-right: 0;
		}
		&:hover {
			color: $color__coral;
		}
	}
	nav {
		a {
			border-right: 2px solid $color__gray-medium;
			&:last-child {
				border: 0;
			}
		}
	}
}

.primary-nav {
	background-color: $color__white;
	.logo {
		grid-column: 1 / span 3;
		padding: 0;
		img {
			height: 30px;
		}
	}
	nav {
		align-items: center;
		color: $color__gray-medium;
		display: flex;
		font-family: 'Gotham';
		font-size: type-scale(6);
		font-weight: bold;
		line-height: 14px;
		grid-column: 4 / span 9;
		height: 60px;
		margin-left: auto;
	}
}
.secondary-nav {
	background-color: #EEE;
	border-top: 3px solid #CCC;
	.breadcrumbs {
		font-family: 'SourceSansPro';
		font-size: type-scale(-1);
		grid-column: 1 / -1;
		height: 22px;
		a {
			border-width: 1px;
			padding: 0 6px;
			&.active {
				cursor: default;
				font-weight: bold;
   			pointer-events: none;
			}
		}
	}
}
.tertiary-nav {
	ul {
		margin: 0;
		padding: 0 0 25px 0;
		li {
			list-style-type: none;
		}
	}
	h5 {
		margin: 0;
	}
}

.mobile-nav-toggle {
	background-color: transparent;
	border: 0;
	display: none;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 5px;
	z-index: 2;
	.icon-bar {
    background-color: $color__gray-medium;
    display: block;
    height: system-unit(0.25);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: system-unit(2);
    & + .icon-bar {
    	margin-top: system-unit(0.375);
    }
	}
	&.expanded {
		.icon-bar {
			&:first-child {
				position: absolute;
		    top: 12px;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
			}
			&:nth-child(2) {
		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    position: absolute;
			}
		}
	}
}

@media only screen and (max-width: $system__breakpoint--small) {
	.mobile-nav-toggle {
		display: block;
	}
	.primary-nav {
		border-bottom: 3px solid #ccc;
		position: fixed;
		width: 100%;
		z-index: 1;
		.logo {
			padding: 25px 30px;
		}
		nav {
			align-items: flex-start;
			background-color: $color__white;
			flex-flow: column;
			height: auto;
			opacity: 0;
			padding: 20px;
			position: absolute;
			top: 87px;
			width: 100%;
			transition: all 0.3s ease;
			a {
				border: 0;
				padding: 10px 0;
				width: 100%;
			}
			&.active {
				opacity: 1;
			}
		}
	}
	.secondary-nav {
		display: none;
	}
}