$color__coral: #F26459;
$color__coral-light: #FCF2F2;
$color__gray-light: #F5F5F5;
$color__gray-medium: #333;
$color__gray-dark: #252525;
$color__white: #FFF;


$system__site-width: 1170px;
$system__unit: 16px !default;
$system__font-size: 1rem;
$system__line-height: $system__font-size * 1.20;
$system__typescale: 1.333;
$system__breakpoint--small: 767px;


$type-scale: (
  -1: 0.75rem,  //small text 12
  0: 1rem,      //body text 16
  1: 4.1875rem,  //h1 67
  2: 3.125rem,  //h2 50
  3: 2.375rem,  //h3 38
  4: 1.75rem,  //h4 28
  5: 1.3125rem,  //h5 21
  6: 0.875rem    //h6 14
);